.navigation{
	flex-shrink: 0;
}

.navigation button{
	background-color: var(--gray60);
	color 			: var(--gray10);
	inline-size 	: 1.875rem;
	block-size 		: 1.865rem;
	border-radius 	: 50%;
	border 			: none;
}

.navigation button:disabled{
	opacity: .5;
	cursor : not-allowed;

}

.navigation-prev i{
	position: relative;
	left 	: -1px;
	top 	: 1.1px;

}

.navigation-next i{
	position: relative;
	left 	: 1px;
	top 	: 1.1px;
}